<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="page">

            <div class="header">
                <h1>Login</h1>
            </div>

            <h2>Enter username and password</h2>

            <form id="user-form" class="user-form">

                <div class="field">
                    <label for="name">User name (required)</label>

                    <input 
                        id="name" 
                        name="name" 
                        maxlength="50" 
                        required
                    >
                </div>

                <div class="field">
                    <label for="password">Password (required)</label>
                    <password-input id="password" name="password" minlength="8" required></password-input>
                </div>
                
                <div class="actions">
                    <button type="submit">Submit</button>
                </div>

            </form>

            <p id="result"></p>

        </div>

        <script src="/static/password-input.js"></script>

        <script src="/static/icons.js"></script>

        <script>
            const form = document.getElementById("user-form");
            const result = document.getElementById("result");
            const password = document.getElementById("password");
 
            form.addEventListener("submit", async (event) => {
                event.preventDefault();

                const name = form.elements.name.value;
                const passwordValue = password.value;

                try {

                    const response = await fetch("/login", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({name, password: passwordValue})
                    });

                    if (!response.ok) {
                        throw new Error("Failed to verify");
                    }

                    await response.json();

                    window.location.assign("/task/create");

                } catch (error) {
                    result.textContent = error.message;
                }
            });
        </script>
    </body>
</html>